html, body {
    position:relative;
    height:100%;
    background-image: url("backbg.jpg");
}

body {
    margin:0;
}

.hello {
    color:#fff;
    position:absolute;
    font-family:Raleway, sans-serif;
    font-weight:100;
    top:69%;
    left:4%;

}

h1 {
    font-size: 53px;
    margin-bottom: 0;
}

h2 {
    margin:0;
}